<div>
	<span class="site-footer-owner"><a href="{{pkg.homepage}}">{{pkg.name}}</a> is maintained by <a href="{{pkg.author.url}}">{{pkg.author.name}}</a>.</span>
	<span class="site-footer-credits">This page uses a modified version of the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
</div>
